.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 3%
    right: 0%
    width: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 32%
    right: 10%
  &-3
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 3%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 87%
  &-5
    animation: rotate1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 67%
    right: 66%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes rotate1
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(40deg)
  

.banner-principal__row .banner-principal__img
  max-width: 450px !important  
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal
.barra-avance__boton--regresar span
  color: $white !important
 

.fa-lista
  li
    display: flex !important
    align-items: flex-start
  li:before
    position: relative
    margin-right: 7px
    font-size: 1.4rem 
.banner-interno .banner-interno__fondo
  background-image:  url('../assets/curso/portada/mini-portada.png') !important
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario     
.lista-ul--color.color-adicional-1 li > i:first-of-type  
  color: $color-adicional-1  
.lista-ol--cuadro.color-primario .lista-ol--cuadro__vineta
  background-color: $color-primario
.bg-color-acento-botones
  background-color: $color-acento-botones
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.bg-color-primario
  background-color: $color-primario
.bg-color-secundario
  background-color: $color-secundario
.bg-color-sistema-texto
  background-color: $color-sistema-texto
.text-color-sistema
  color: $color-sistema-texto !important
.bg-color-adicional-1
  background-color: $color-adicional-1
.ct-color-primario
  color: $color-primario
.w-fit
  width: fit-content
.columns-2
  columns: 2
.tc-sec 
  color: $color-secundario !important
.tc-ac 
  color: $color-acento-contenido !important
.font-italic
  font-style: italic !important
.sin-borde
  border: 0px !important


.bg1
  background-color: #EEF9F8 !important
.bg2
  background-color: #BDE6E5
.bg3
  background-color: #FEF6FE !important


.linea-tiempo-d
  &__item__content
    background-color: #E8F7FD
    span
      font-weight: bold
  &__item__number
    background-color: #E8F7FD
    span
      font-weight: bold
  &__item--selected
    .linea-tiempo-d__item__content
      background-color: #FEF6FE